@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+JP:wght@100;300;500&family=Roboto+Mono:ital,wght@0,100;0,400;1,100&family=Ubuntu:ital,wght@0,300;1,700&display=swap');
   
html{

    margin: 0;
    padding: 0;
    background-color: grey;
   
    
}
    



.modifh{
    height: 200px;
    
    width: 300px;

}

.border1

{
    display: wrap;
    flex-direction: row ;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    align-items: right; 
 
}





.heberg{

    display: flex   ;
    flex-direction: row ;
    width: 1800px;
    height: 300px;
    border: 1px solid black;
    align-items: center; 
    position: right;
    margin :50px;
}

.populaires{
    display: flex;
    flex-direction: row ;
    width: 1800px;
    height: 300px;
    border: 1px solid black;
    align-items: center; 
    position: right;
    margin: 50px;

}


.Activité{

    display: flex;
    flex-direction: row ;
    width: 1800px;
    height: 300px;
    border: 1px solid black;
    align-items: center; 
    position: right;
    margin: 50px;

    
}

.Filtres{

    display: flex;
    flex-direction: row ;
    width: 200px;
    height: 300px;
    border: 1px solid black;
    align-items: center; 
    position: right;
    margin: 20px;

}

.conteneurflexible{

    display:flex;
    flex-direction: row; 
    justify-content:flex-start;  
    border : 5px solid; 
    height: 150px;
    width: 600px;
    align-items:flex-start;
    flex-wrap: wrap;  
    align-content: space-between;
}

.p1{
    flex: 1 1 auto;
}

.p2{

    text-align: top center;
}

.p3{

    text-align: top center;
}

.card {
    width: 400px; /*1*/
    margin: 0px auto; /*2*/
    background-color: white; /*3*/
    box-shadow: 0px 5px 20px #999; /*4*/
  }
  


  
  










    

