@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+JP:wght@100;300;500&family=Roboto+Mono:ital,wght@0,100;0,400;1,100&family=Ubuntu:ital,wght@0,300;1,700&display=swap');
   

    

footer{

    box-sizing: border-box;
    height: 400px;
    width: 1500px;
    border: 5px solid black;
}






.mega1{

    float: left;
    
}

.image-hebergement {

    height: 200px;  
    width: 500; 
 }



    

